:root{
    --primary-color: #C5A059; /* Oro templario */ 
    --secondary-color: #8E2424; /* Rojo brasa */ 
    --background-color: #1A1A1A; /* Negro carbon ahumado */ 
    --text-color: #E5E0D3; /* Blanco Pergamino */ 
}
